<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'bar.jpg' %>)">
<h1>Build your cocktail !</h1>
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, label: 'Enter the name of the cocktail please' %>
  <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
<% end %>
</div>

