// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "card-show";
body {
  background-color: #ECD294;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
}
